{{ extends "theme::layouts/installer" }}

{{ section "content" }}

{{ if !ready }}
<div class="alert alert-danger alert-dismissible animated shake">
    <p>
        <strong>TRANSLATE ME: Requirements not met!</strong>
    </p>
</div>
{{ endif }}

{{ checks }}
<div class="panel {{ class }}">
    <div class="panel-body">
        <i class="fa fa-check-circle-o fa-2x"></i>
        <span>{{ message }}</span>
    </div>
</div>
{{ /checks }}

{{ if ready }}
<a href="/installer/license" class="btn btn-success btn-block">{{ lang.trans "button.continue" }}</a>
{{ endif }}

{{ stop }}